@font-face {
font-family: 'DIN Pro';
font-style: normal;
font-weight: normal;
src: local('../fonts/DIN Pro'), url('../fonts/DINPro.woff') format('woff');
}

@font-face {
font-family: 'DIN Pro Medium';
font-style: normal;
font-weight: normal;
src: local('../fonts/DIN Pro Medium'), url('../fonts/DINPro-Medium.woff') format('woff');
}

@font-face {
font-family: 'DIN Pro Bold';
font-style: normal;
font-weight: normal;
src: local('../fonts/DIN Pro Bold'), url('../fonts/DINPro-Bold.woff') format('woff');
}

body{
	font-family: 'DIN Pro'; 
	/*font-size:14px;*/
	font-size:13px;
	/*color:#333;*/
	color:#666;
}

.glyphicon-asterisk{
	font-size: 0.6em;
    vertical-align: top;
}

.customer-logo{
	height:55px;
	margin-top:-15px;
	margin-bottom:-15px;
}

.disconnect-user{
	/*color:#E85417;*/
	color:#19ADEC;
}

.user-informations {
	color:#337ab7;
	font-size:1.1em;
}

.user-name {
	font-weight:bold;
}

.search, .language{
	color:#337ab7;
	border-color: #337ab7;
}

.header{
	padding-top:23px;
	padding-bottom:15px;
}

.flag-group {
	/*
	margin-left:30px;
	margin-right:15px;
	*/
	float:right;
	margin-top:4px;
}

.flag img{
	height:20px;
	margin-right:0px;
	margin-left:0px;
	margin-bottom:2px;
	border-radius:6px;
}

.datepicker-months {
    width: 220px;
}
a.flag{
	opacity:0.7;
}

a.flag:active{
	opacity:1;
}

a.flag:hover{
	opacity:1;
}


.menu{
	background-color: #2f353e;
	font-family: 'DIN Pro' !important; 
	font-size:1.25em; 
	font-weight:normal;
	list-style: none;
	/*line-height: 1.6;*/
	line-height: 1.7;
}
 
.menu-container {
    width: 100%;
    margin: 0 auto;
    background-color: #2f353e;
}

.menu-mobile {
    display: none;
   	padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5em;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}


.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}


.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    background-color: #2f353e;
    padding: 0;
    margin: 0;
}

.menu > ul > li > a {
    text-decoration: none;
    padding: 6px 23px 6px 23px;
    display: block;
    color:#FFF;
}

.menu > ul > li.active {
	/*background-color: #19ADEC;*/
	/*background-color: #337ab7;*/
	background-color: #019FE8;
}
.menu > ul > li > a.active {
    background-color: #19ADEC;
}

.home-link {
	margin-bottom:3px;
	/*padding-right:30px;*/
}

.menu > ul > li:hover {
    background-color: #19ADEC;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #19ADEC;
    /*padding: 20px;*/
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
   /* box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.7); */
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
    
}

.menu > ul > li > ul:after {
    clear: both;
}

.sub-menu{
	padding-left:0px;
}

ul.sub-menu li.menu-group-item:last-child{
	/*color:red;
	background-color:red;
	*/
	border-right: 0px;
}

ul.sub-menu li.menu-group-item:nth-child(1),
ul.sub-menu li.menu-group-item:nth-child(2){
	border-right: 2px dotted #FFF;
}

.menu-group-item{
	border-right: 2px dotted #FFF;
	padding-top:12px;
	padding-bottom:15px;
	line-height: 23px;
	font-size: 16px;
}

li:last{
	color:red;
}

.menu-left{
	padding-right:0px;
}

.menu-right{
	padding-left:0px;
	padding-right:0px;	
}

.menu-icon{
	/*width:100px;*/
	float:right;
	/*height:112px;*/
	height:100px;
}

.menu-li-title {
    color: #FFF;
    padding: 0px 0px 0px 16px;
	/*
	border-style: solid;
    border-width: 2px 2px 2px 0px;
    border-color: #FFF;
    border-radius: 0px 6px 6px 0px;
    */
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #FFF;
    
    width:100%;
    margin-top:12px;
    margin-bottom:9px;
}

.menu-ul{
	list-style: none;
	/*font-size:16px;*/
	padding: 0px 0px 0px 16px;	
}

.menu-ul > li {
	line-height:26px;	
}

.menu-ul > li > a{
	color:#FFF;
	text-decoration:none;	
}

.menu-ul > li > a:hover{
	/* dashed */
	border-bottom:2px dotted #FFF;
}


/* back */

.back-page{
	margin-top:18px;
	margin-bottom:18px;
	padding-left:13px;
}

.back-page a{
	background-image: url("../images/navigation/icon-left.png");
	background-repeat: no-repeat;
	color: #337ab7;
	/*color: #19ADEC;*/
	text-decoration: none;
	padding-left: 30px;
	padding-bottom: 7px;
	font-size:1.2em;
}

.back-page a:hover{
	color: #19ADEC;
}

.panel-body > .back-page{
	margin-top:0px;
	padding-left:0px;
}

.panel-body > .back-page a{
	font-size:1.1em;
}

/* end Back */

.navbar {
	margin-bottom:0px;
	border:0px;
}

.nav{
	border-radius: 4px;
}

.page-tab{
	background-color:#19ADEC;
	font-size:1.1em;
}

.nav-pills.page-tab > li > a {
    border-radius: 0px;
    color: #fff;
}

.nav-pills.page-tab > li {
    border-right: 2px dotted #FFF;
    vertical-align: middle;
}


.nav-pills.page-tab > li:last-child {
    border-right: 0px;
}

.nav-pills.page-tab > li > a:focus,
.nav-pills.page-tab > li > a:hover {
    color: #fff;
    background-color: #337ab7;
}

.nav-pills.page-tab > li:hover {
    color: #fff;
    background-color: #337ab7;
}

.nav-pills.page-tab > li.active{
    color: #fff;
    background-color: #337ab7;
}    

.nav-pills.page-tab > li.active > a{
    color: #fff;
    background-color: #337ab7;
}  

.nav-pills.page-tab > li:first-child > a{
    border-radius: 4px 0px 0px 4px;
}

.nav-pills.page-tab > li:last-child > a{
    border-radius: 0px 4px 4px 0px;
}
.tab-content{
	margin-top:20px;
}


.page{
	/*background-image:url("../images/navigation/page-background.png");*/
	background-image:url("../images/page-background.png");
	background-position:top;
	padding-bottom: 15px;
}

.page-header {
	margin:0px 0px 14px 0px;
	height:128px;
	background: #19ADEC;
	background-image:url("../images/headers/header-background-default.png");
 	background-position:right;
}

.page-title{
	color:#FFF;
	font-weight:bold;
	/*font-size:1.85em;*/
	font-size:1.7em;
	padding-left:28px;
	margin-left:23px;
	margin-top:45px;
	border-left:5px dotted #19ADEC;
}

.panel{
	background-color:transparent;
}

.panel-body{
	background-color:#FFF;
}

.panel-heading{
	padding:6px 18px;
	font-size:1.1em;
}

ul.panel-menu{
	float:right;
	list-style: none;
}

.panel-menu > li.dropdown > a{
	/*color:#19ADEC;*/
	color:#337ab7;
	opacity:0.7;
}

.panel-menu > li.dropdown > a:hover{
	opacity:1;
}

ul.panel-menu > li.dropdown > ul.dropdown-menu{
	right: -18px;
	left: auto;
	margin-top:7px;
}
 
.panel{
	/*border-color:#CCC;*/
	border-color:#CFCFCF;
	/*border-radius:0px 20px;*/
}

.panel-default > .panel-heading{
	/*background-color: #FFF !important;*/	
	/*color:#19ADEC !important;*/
	color:#337ab7 !important;
	/*border-width:1px;*/
	/*font-size:1.2em;*/
	/*font-weight:bold;*/
	background-color:#FFF;
	border-color:#337ab7;
	/*border-color:#666;*/
	border-width:2px;
}



.panel-default > .panel-heading > a{
	/*color:#19ADEC !important;*/
	color:#337ab7 !important;
}

.panel-group {
    margin-bottom: 15px;
}

.panel-group {
	border-bottom:1px;
}


/*** fin panel heading #337ab7 ***/

.text-highlight{
	/*font-weight:bold;*/
	/*color:#19ADEC;*/
	color:#337ab7;
}

h4{
	/*color: #19ADEC;*/
	/*font-weight: bold;*/
	color:#337ab7;
	/*border-bottom: 1px solid #e5e5e5;*/
	font-size:1em;
}

.row.options-list {
    height: 310px;
    overflow: auto;
}

/* Search panel */

.search-panel {
	/*border-color:#d9edf7;*/
	/*border-color:#FFF;*/
	border-color: #CFCFCF;
}

.search-panel > .panel-heading {
	/*background-color: #d9edf7;*/
	/*background-color: #FFF;*/
	/*background-color: #19ADEC;*/
	/*background-color: #2f353e;*/
	background-color: transparent;
	font-size:1.2em;
	padding:3px 3px 5px 12px;
} 

.search-panel > .panel-heading .accordion-toggle.collapsed {
	background-image: url("../images/navigation/icon-right.png");
	background-repeat: no-repeat;	
}

.search-panel > .panel-heading .accordion-toggle{
	background-image: url("../images/navigation/icon-down.png");
	background-repeat: no-repeat;	
}

.search-panel > .panel-heading > a{
	color:#337ab7;
	/*color: #19ADEC;*/
	/*color:#FFF;*/
	text-decoration:none;
	padding-left: 30px;
	padding-bottom:9px;
}

.search-panel > .panel-heading > a:hover{
	color: #19ADEC;
	/*color:#FFF;*/
	/*color:#337ab7;*/
}

.search-panel > .panel-collapse {
	/*margin-bottom:20px;*/
	/*border-top:2px solid #19ADEC;*/
	border-top:2px solid #337ab7;
}

/* Fin Search panel */

/* Grouped panel */
.grouped-panel{
	border-color:transparent;
}

.grouped-panel > .panel-heading {
	font-size:1.2em;
	padding:3px 3px 5px 12px;
	border-bottom:2px solid #337ab7;
} 

.grouped-panel > .panel-heading > a{
	/*color:#337ab7;*/
	color: #19ADEC;
	text-decoration:none;
	padding-left: 30px;
	padding-bottom:9px;
}

.grouped-panel > .panel-heading .accordion-toggle.collapsed {
	background-image: url("../images/navigation/icon-right.png");
	background-repeat: no-repeat;	
}

.grouped-panel > .panel-heading .accordion-toggle{
	background-image: url("../images/navigation/icon-down.png");
	background-repeat: no-repeat;	
}

.grouped-panel .panel-body:first-child{
	padding-left:0px;
	padding-right:0px;
	background-color:transparent;
}

/* Fin Grouped panel */

legend{
	/*font-size: 1.1em;*/
	font-size:1em;
	/*color: #337ab7;*/
	color: #19ADEC;
	margin-bottom: 12px;
	/*font-weight:bold;*/
	/*border-bottom: 2px dotted #e5e5e5;*/
	/*border-bottom: 2px dotted #19ADEC;*/
	border-bottom:1px solid #337ab7;
}

label {
	/*color: #337ab7;*/
	color: #337ab7;
	margin-bottom: 0px;
	font-weight:normal;
}

.btn > span.glyphicon {
	margin-right : 7px;
}

.dropdown-menu{
	font-size:0.9em;
	  text-align: left;
}

ul.dropdown-menu > li > a{
	/*color: #19ADEC !important;*/
	color : #337ab7 !important;
	background:transparent;
	/*font-weight:bold;*/
}

ul.dropdown-menu > li > a:hover{
	/*text-decoration:underline;*/
	/*
	background:#d9edf7;
	color: #337ab7 !important;
	*/
	background:#19ADEC;
	color: #FFF !important;
	
}

ul.dropdown-menu > li.disabled > a{
	color : #999 !important;
	background:transparent;
}

li.dropdown-header{
	/*color : #337ab7;*/
	color: #19ADEC;
	/*border-bottom: 2px dotted #337ab7;*/
	border-bottom: 2px solid #666;	
	/*font-style:italic;*/
	padding-left:10px;
	font-size: 1.1em;
	font-weight: normal;	
}

li.dropdown-header:hover{
	/*color : #337ab7;*/
	color: #19ADEC;
	/*border-bottom: 2px dotted #337ab7;*/
	border-bottom: 2px solid #666;	
	background-color:#FFF;
}

li.dropdown > a > span{
	color:#19ADEC !important;
}

/* Table */

.panel-body > ul.nav{
	background-color:red !important;
}

.pagination {
	margin:0px 0px 10px 0px;
}

.nav-pills.pagination-menu > .active.dropdown > a {
	background-color:#19ADEC;
	padding: 5px 10px 6px 10px;
}

/*
.pagination-menu {
	font-size:14px;
}
*/

.pagination-menu li a {
	padding: 5px 10px;
	margin-right:20px;
}

.table-pagination{
	text-align:center;	
}

.table-pagination div:first-child{
	text-align:left;	
}

.table-pagination div:last-child{
	text-align:right;	
}

table{
	/*font-size:0.9em;*/
	font-size:0.95em;
}

th{
	/*background-color:#19ADEC;*/
	background-color:#337ab7 !important;
	color:#FFF;
}

th > span.glyphicon-chevron-down{
	float:right;
	margin-top:3px;
}


.footer{
	/*background-color: #337ab7;*/
	background-color:#2f353e;
	color:#FFF;
	text-align:center;
	ligne-height:1,6;
	/*margin-top:15px;*/
	padding-top:12px;
	padding-bottom:12px;
}

/*** OLD ***/

/**** Table report ****/

.row.table-report{
	margin-right:0px;
	margin-left:0px;
}

div.table-report{
	/*
	margin-bottom:7px;
	*/
	margin-right:0px;
	margin-left:0px;
	margin-bottom:0px;
}

/* idem sans marge infÃ©rieur*/
div.table-report-compact{
	margin-right:0px;
	margin-left:0px;
}

/* style cellule header */
div.table-report-header div{
	/*
	border-left: 1px solid #CFCFCF;
	border-top: 1px solid #CFCFCF;
	*/
	/*background-color:#FCFCFC;*/
	/*background-color:#f5f5f5;*/
	
	/*margin-top:10px;*/
	margin-top:0px;
	text-align:right;
	/*padding:3px;*/
	padding:3px 6px 3px 6px;
	font-size:1em;
	color:#337ab7;
	border-radius:4px 4px 0px 0px;
}

div.table-report-header div:first-child{
	/*
	border-left: 1px solid transparent;
	border-top: 1px solid transparent;
	*/
	background-color:transparent;
	text-align:left;
	font-weight:bolder;	
}

div.table-report-header div:last-child{
	/*border-right: 1px solid #CFCFCF;*/
}

span.glyphicon-remove {
	color:red;
	margin-left:10px;
}

/* level 1 to 4 css style */

/* Contenair niveau 1*/
.level1-content{
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	/*padding-bottom:7px;*/
	padding-bottom:1px;
}

.level1-content:last-child{
	padding-bottom:0px;
}

/* style cellule niveau 1 */
.level1 div{
	/*border-left: 1px solid #CFCFCF;*/
	text-align:right;
	/*padding:3px;*/
	padding:3px 6px 3px 6px;
	background-color:#FFF;
	/* ajout bodure niveau 1 */
	/*border-bottom: 1px solid #CFCFCF;*/	
	font-size:1em;
}

.level1 div:first-child{
	border-left: 1px solid #transparent;
	font-weight:bolder;
	text-align:left;
}

.level1 div:last-child{
	/*border-right: 1px solid #CFCFCF;*/
	font-weight:bolder;
}


/* contenair niveau 2 */
.level2-content{
	/*border-top: 1px solid #CFCFCF;*/
	border-top :0px;
	/*border-bottom: 1px solid #CFCFCF;*/
	padding-bottom:7px;
}

.level2-content:last-child{
	padding-bottom:0px;
}

div.level2:last-child{
	/*border-bottom: 1px solid #CFCFCF;*/
}

/* style cellule niveau 2 */
.level2 div{
	/*border-left: 1px solid #CFCFCF;*/
	text-align:right;
	color:#666;
	font-size:0.9em;
	/*padding:3px;*/
	padding:3px 6px 3px 6px;
	background-color:#FFF;
}

.level2 a{
	color:#666;
}

.level2 div:first-child{
	/*border-left: 1px solid #transparent;*/
	font-weight:bolder;
	text-align:left;
}

.level2 div:last-child{
	/*border-right: 1px solid #CFCFCF;*/
	font-weight:bolder;
}


/* contenair niveau 3 */
.level3-content{
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	padding-bottom:7px;
}

.level3-content:last-child{
	padding-bottom:0px;
}

div.level3:last-child{
	border-bottom: 1px solid #CFCFCF;
}

/* style cellule niveau 3 */
.level3 div{
	/*border-left: 1px solid #CFCFCF;*/
	text-align:right;
	color:#666;
	font-size:0.85em;
	/*padding:3px;*/
	padding:3px 6px 3px 6px;
	background-color:#FFF;
}

.level3 div:first-child{
	/*border-left: 1px solid #transparent;*/
	font-weight:bolder;
	text-align:left;
	padding-left:10px;
}

.level3 div:last-child{
	/*border-right: 1px solid #CFCFCF;*/
	font-weight:bolder;
}

/* contenair niveau 3 */
.level3-content{
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	padding-bottom:7px;
}

.level3-content:last-child{
	padding-bottom:0px;
}

div.level3:last-child{
	border-bottom: 1px solid #CFCFCF;
}

/* style cellule niveau 4 */
.level4 div{
	/*border-left: 1px solid #CFCFCF;*/
	text-align:right;
	color:#999;
	font-size:0.85em;
	/*padding:3px;*/
	padding:3px 6px 3px 6px;
	background-color:#FFF;
}

.level4 div:first-child{
	/*border-left: 1px solid #transparent;*/
	font-weight:bolder;
	text-align:left;
	padding-left:30px;
}

.level4 div:last-child{
	/*border-right: 1px solid #CFCFCF;*/
	font-weight:bolder;
}


/* style cellule total */
.total div{
	border-top: 1px solid #CFCFCF;
	/*border-left: 1px solid #CFCFCF;*/
	text-align:right;
	padding:3px;
	font-weight:bolder;
	background-color:#FFF;
}

.total div:first-child{
	border-left: 1px solid #transparent;	
	font-weight:bolder;
	text-align:left;
}

.total div:last-child{
	/*border-right: 1px solid #CFCFCF;*/
}

/*** END OLD ***/
.alert {
	font-size: 1.1em; 
	padding-top:5px;
	padding-bottom:5px;	
	border-color:#FFF;
}

.alert > span.glyphicon{
	margin-right:9px;
}

/* reduction de la hauteur des formulaires */
.form-group {
    margin-bottom: 5px;
}

.form-group div.chekbox-input {
    margin-top: 20px;
}

legend {
	padding:0px;
	margin-bottom:5px;
	margin-top:5px;
}

.form-control{
	font-size:1em;
	height: 28px;
	padding: 4px 6px;
	line-height: 1.35;
}

.btn {
	padding: 4px 12px;
}

.input-group-addon{
	padding: 3px 12px;
}

.input-group-btn > .btn{
	padding: 3px 12px;
}

/* fin reduction de la hauteur des formulaires */

/* highcharts */
.highcharts-title{
	font-size:1.25em !important;
}


/* Commandes */

/* Page Flow */

.page-flow-contenair{
	text-align:center;
	margin-bottom:30px;
	color:#337ab7; 
}

ul.nav-pills.page-flow > li{
	border-radius:4px;
}

ul.nav-pills.page-flow > li > span.legend{
	position: absolute;
	top: 55px;
	font-size: 1.1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: -48px;
	width: 150px;
	text-align: center;
}

ul.nav-pills.page-flow > li > a{
	padding:17px 23px;
	font-size:1.2em;
	color:#FFF;
	background-color:#19ADEC;
}

ul.nav-pills.page-flow > li.active > a{
	background-color:#337ab7;
}

ul.nav-pills.page-flow > li.separator {
	width:100px; 
	border-top:3px dotted #337ab7;
	margin-top:25px;
}

ul.nav-pills.page-flow > li.disabled > a {
    color: #FFF;
    background-color: #19ADEC;
}

/* Fin Page Flow */


/*order items */

.order-item-list {
   /*
    margin-top: 20px;
    */
    /*
    background-color: #FFF;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #FFF;
    */
}
.order-item-list .order-item-content{
	padding-top:10px;
}

.order-item-list fieldset:last-child .order-item-content {
    border-bottom: 0px;
}

.right{
	text-align:right;
}

.order-item-content{
	margin: 5px;
    margin-left: 0px;
    padding-top: 10px;
    border-radius: 30px 0 30px 0px;
    background-color: #EEE;
}

.order-item-img{
	text-align:center;
}

.order-item-img img{
	width:70%;
	margin-top:5px;
	margin-bottom:10px;
}

.order-item-img-thumbnail{
	text-align:center;	
}

.order-item-img-thumbnail img{
	width:40%;
	margin-top:5px;
	margin-bottom:10px;
}

.order-item-details{
	margin-bottom:20px;
}

.order-item-details label{
	/*color:#337ab7;*/
	color:#666;
	
}

.order-item-details div.checkbox {
	margin-top: 6px;
	margin-bottom: 0px;
}

.order-item-details div.form-group {
	margin-bottom:10px;
}

.order-item-title{
	/*font-weight:bold;*/
	/*font-size:115%;*/
	/*font-size:1.1em;*/
	color: #337ab7;
	/*color: #19ADEC;*/
	
}

.order-item-provider{
	color: #337ab7;
}

.order-item-price{
	font-weight:bold; 
	/*font-size:115%;*/
	font-size:1.1em;
	color: red;
}

.order-item-quantity{
	font-weight:bold; 
	/*font-size:115%;*/
	font-size:1.1em;
}

.order-item-price-information{
	color: #4E5859;
}

.order-unit-price{
	margin-top:10px;
}

.order-item-button{
	margin-bottom: 12px;
}

a.item-cart-delete, 
a.item-cart-delete:hover{
	color: red;
}

 .order-total-price{
	font-weight:bold; 
	font-size:115%;
	color: red;
	text-align:right;
	margin-top:5px;
}
    
/* Fin Commandes */

.loaderExportDiv {
	position : absolute;
	width: auto;
	height: 100%;
/* 	background-color: white; */
	opacity: 0.6;
	top: 50%;
	
/* 	margin-top: 10em; */
/* 	margin-left: 50px; */
/* 	margin-right: auto !important; */
	z-index: 1000; /* should be large enough to be on top of everything */
}
	
	
.msgError {
     color: #B94A48;
}

#flag .dropdown-menu{
    right:0px;
}


 div.add-options-list{
	overflow-y:auto; 
	height:510px;
}
